h1{
    margin-bottom: 20px;
}

h3{
    margin: 12px 0;
}

.jumbotron {
    padding: 32px;
}

img {
    width: 100px;
    margin-top: 20px;
    margin-right: 10px;
}

img:last-child{
    margin-right: 0;
}

footer {
    position: fixed;
    left: 20%;
    bottom: 10px;
}

.rules {
    margin: 6px auto;
    max-width: 80%
}